* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab', serif;
}
.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 20px;
}
.button {
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #43a907;
  border-radius: 5px;
}
.button--colorless {
  font-size: 16px;
  color: #545353;
  background-color: white;
}
.highlighted {
  color: #43a907;
}
.header {
  padding: 10px 0;
}
.header__language {
  font-weight: bold;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 20px;
}

.hero {
  background-image: url("img/hero.jpg");
  height: 785px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: darkgrey;
  background-blend-mode: multiply;
  display: flex;
  text-align: center;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
}
.hero__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 64px;
  padding-bottom: 10px;
}
.hero__separate {
  font-size: 36px;
}

.hero__text {
  font-size: 18px;
  font-weight: 500;
}

.prevent {
  padding: 100px 0;
  text-align: center;
}
.prevent__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subheading {
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 25px;
  text-align: center;
  color: #222222;
}
.prevent__text {
  font-size: 18px;
  padding-bottom: 50px;
  color: #393939;
}
.steps {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.step {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.step--active .step__icon-box {
  background-color: #43a907;
  border: #43a907;
}
.step--active .step__icon {
  filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(328deg) brightness(103%) contrast(87%);
}
.step--active .step__title {
  color: #43a907;
}

.step__icon-box {
  border: 1px solid black;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step__icon {
  height: 45px;
}
.step__title {
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #393939;
}
.step__description {
  padding-top: 10px;
  text-align: center;
  color: #646464;
}

.help {
  background-color: #222222;
  padding: 100px 0;
  color: white;
}
.help__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.help__heading {
  text-transform: uppercase;
  font-size: 46px;
  padding-bottom: 15px;
}
.highlighted {
  display: block;
}
.help__content {
  max-width: 70%;
}
.help__button {
  padding: 15px 50px;
}

.articles {
  padding: 100px 0;
}
.articles__text {
  font-size: 18px;
  padding-bottom: 50px;
  color: #393939;
  text-align: center;
}
.articles__content {
  display: flex;
  gap: 20px;
}
.article {
  border: 1px solid #d1d3d1;
  border-radius: 2px;
  flex: 1;
}
.article__image {
  max-width: 375px;
  max-height: 200px;

  width: 100%;
  object-fit: contain;
}
.article__body {
  padding: 30px 20px 25px 20px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article__title {
  font-size: 20px;
  color: #454444;
  padding-bottom: 5px;
}
.article__date {
  color: #aeadad;
  padding-bottom: 15px;
}
.article__text {
  color: #646464;
  overflow: hidden;
  padding-bottom: 15px;
}
.article__button {
  padding-top: 20px;
  color: #43a907;
}

.footer {
  background-color: #222222;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__wrapper {
  width: 100%;
}
.footer__block-1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.footer__block-2 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.products {
  padding-bottom: 50px;
}

.product {
  padding-bottom: 50px;
}

.product__image {
  flex: 1;
  object-fit: cover;
  width: 50%;
}

.product__container-1 {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}

.product__advantages {
  list-style: none;
}

.product__advantages li::marker {
  color: green;
}

.product__title {
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 15px;
}
.product__text {
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
}
.product__description {
  padding-bottom: 20px;
}
.product__link {
  color: #43a907;
  font-weight: 500;
  font-size: 18px;
}

.perspectives {
  padding-bottom: 25px;
}

.perspectives__heading {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.perspectives__list {
display: flex;
justify-content: space-between;
gap: 20px;
}

.perspective {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.perspective__icon-box {
  display: flex;
  justify-content: center;
}

.perspective__icon {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}

.perspective__title {
  font-weight: 500;
  padding-bottom: 5px;
  text-align: center;
}
.perspective__text {
  text-align: center;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.price {
  border-radius: 10px;
  padding: 10px;
}

.prices__title {
  font-weight: 500;
  color: #43a907;
  padding-bottom: 5px;
  font-size: 18px;
}

.media {
  padding-bottom: 50px;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.video-container {
  display: flex;
  justify-content: center;
}

.footer__element {
  display: flex; align-items: center;
}

.footer__icon {
  width: 25px;
  filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(66deg) brightness(107%) contrast(101%);
}

@media(max-width: 640px) {
  .articles__content {
    align-items: center;
    flex-direction: column;
  }
  .article {
    max-width: 500px;
  }
  .article__image {
    max-width: 100%;
  }
  .help__wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .help__heading {
    font-size: 36px;
    text-align: center;
  }
  .help__text {
    text-align: center;
  }
  .steps {
    flex-direction: column;
    gap: 50px;
  }
  .hero__heading {
    font-size: 48px;
  }
  .article__body {
    height: auto;
  }

  .product__container-1 {
    flex-direction: column;
  }
  .perspectives__list {
    flex-direction: column;
  }
}
@media(max-width: 420px) {
  .hero__heading, .hero__separate {
    font-size: 28px;
  }
  .subheading {
    font-size: 24px;
  }
  .help__heading {
    font-size: 26px;
  }
}
